@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.5em;
}

h1 {
    font-size: 2.7em;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, .2)
}

button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(53, 224, 10);
}

button:hover {
    background-color: rgb(61, 187, 29);
}

/*SECTIONS*/

#home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../CC_20210301_150023.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contactos {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#contactos .container {
    padding: 100px 0;
}

#contactos h2 {
    margin-top: 0;
}


#contactos p {
    display: none;
}

#contactos .carta {}

.carta:first-child {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(../CC_20210301_150023.png);
}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(../CC_20210301_150023.png);
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5))
    ,url(../CC_20210301_150023.png);
}







/*HEADER*/
.video-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #315230;
    z-index: 1;
    opacity: .60;

}

.logo {
    margin: 0px 89.5px;
    width: 50px;
    cursor: pointer;
    justify-content: flex-start;
}

.navbar {
    color: white;
    background: #212220;
    position: sticky;
    top: 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}



.contenedor-video {
    height: 100vh;
}

.contenedor-video video {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: 0 bottom;
    background-position: center center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;


}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.navbar ul li::before {
    content: "";
    height: 3px;
    width: 0%;
    background: rgb(53, 224, 10);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.4s ease-out;
}

.navbar ul li a:hover {
    color: rgb(53, 224, 10);
}

.navbar ul li:hover::before {
    width: 100%;
}